In [1]:
import pandas as pd

df = pd.read_csv('/home/matlab/Lottery_Powerball_Winning_Numbers__Beginning_2010.csv')
print(df.to_string())

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df = pd.DataFrame(
        {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
    )
   

df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [ ]:
df = pd.DataFrame(

    {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]},

    index=["foo", "bar", "boo", "kar"],

)

In [ ]:
df

     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

In [ ]:
data = {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}

df2 = pd.DataFrame(data=data, index=[1, 2, 3, 4])  # Note index starts at 1.

df2.iloc[1:3]

   AAA  BBB  CCC
2    5   20   50
3    6   30  -30

In [ ]:
df = pd.DataFrame(

    {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}

)



df

df[~((df.AAA <= 6) & (df.index.isin([0, 2, 4])))]
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [ ]:
df = pd.DataFrame({"AAA": [1, 2, 1, 3], "BBB": [1, 1, 2, 2], "CCC": [2, 1, 3, 1]})

df
source_cols = df.columns  # Or some subset would work too

new_cols = [str(x) + "_cat" for x in source_cols]

categories = {1: "Alpha", 2: "Beta", 3: "Charlie"}

df[new_cols] = df[source_cols].map(categories.get)

df

   AAA  BBB  CCC  AAA_cat BBB_cat  CCC_cat
0    1    1    2    Alpha   Alpha     Beta
1    2    1    1     Beta   Alpha    Alpha
2    1    2    3    Alpha    Beta  Charlie
3    3    2    1  Charlie    Beta    Alpha

In [ ]:
import pandas as pd

# Assume df and df2 are your DataFrames
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Use pd.concat() instead of .append()
new_df = pd.concat([df, df2])

print(new_df)

   A  B
0  1  3
1  2  4
0  5  7
1  6  8

In [ ]:
with pd.read_csv('/home/matlab/Lottery_Powerball_Winning_Numbers__Beginning_2010.csv',chunksize=1000) as reader:
    print(reader)
    for chunk in reader:
        print(chunk)

<pandas.io.parsers.readers.TextFileReader object at 0x7078510ee0d0>
      Draw Date    Winning Numbers  Multiplier
0    09/26/2020  11 21 27 36 62 24         3.0
1    09/30/2020  14 18 36 49 67 18         2.0
2    10/03/2020  18 31 36 43 47 20         2.0
3    10/07/2020  06 24 30 53 56 19         2.0
4    10/10/2020  05 18 23 40 50 18         3.0
..          ...                ...         ...
995  10/05/2011  07 20 43 46 54 17         4.0
996  10/01/2011  01 12 23 27 43 31         3.0
997  09/28/2011  30 41 50 51 53 08         2.0
998  09/24/2011  03 04 12 27 44 26         5.0
999  09/21/2011  12 47 48 52 55 13         4.0

[1000 rows x 3 columns]
       Draw Date    Winning Numbers  Multiplier
1000  09/17/2011  06 20 22 32 43 11           2
1001  09/14/2011  16 41 42 50 59 05           3
1002  09/10/2011  04 19 22 32 53 24           4
1003  09/07/2011  03 05 18 27 54 13           4
1004  09/03/2011  15 25 52 53 54 02           5
...          ...                ...         ...
1828  08/27/2025  09 12 22 41 61 25           4
1829  08/30/2025  03 18 22 27 33 17           3
1830  09/01/2025  08 23 25 40 53 05           3
1831  09/03/2025  03 16 29 61 69 22           2
1832  09/06/2025  11 23 44 61 62 17           2

[833 rows x 3 columns]

#Read CSV

In [ ]:
import pandas as pd

# Reading the entire CSV file into a DataFrame
df = pd.read_csv('/home/matlab/Lottery_Powerball_Winning_Numbers__Beginning_2010.csv')

# Print the first 5 rows to verify
print(df.head(5))

    Draw Date    Winning Numbers  Multiplier
0  09/26/2020  11 21 27 36 62 24         3.0
1  09/30/2020  14 18 36 49 67 18         2.0
2  10/03/2020  18 31 36 43 47 20         2.0
3  10/07/2020  06 24 30 53 56 19         2.0
4  10/10/2020  05 18 23 40 50 18         3.0

#Append to a CSV

In [ ]:
import pandas as pd

# Create some new data in a DataFrame
new_data = pd.DataFrame({'col1': [4, 5], 'col2': ['D', 'E']})

# Append new_data to the CSV file
new_data.to_csv('your_file.csv', mode='a', header=False, index=False)
print(new_data)
print("""
        Appended dataset""")
df

   col1 col2
0     4    D
1     5    E

        Appended dataset

       Draw Date    Winning Numbers  Multiplier
0     09/26/2020  11 21 27 36 62 24         3.0
1     09/30/2020  14 18 36 49 67 18         2.0
2     10/03/2020  18 31 36 43 47 20         2.0
3     10/07/2020  06 24 30 53 56 19         2.0
4     10/10/2020  05 18 23 40 50 18         3.0
...          ...                ...         ...
1828  08/27/2025  09 12 22 41 61 25         4.0
1829  08/30/2025  03 18 22 27 33 17         3.0
1830  09/01/2025  08 23 25 40 53 05         3.0
1831  09/03/2025  03 16 29 61 69 22         2.0
1832  09/06/2025  11 23 44 61 62 17         2.0

[1833 rows x 3 columns]

#Read a CSV Chunk-by-Chunk

In [ ]:
import pandas as pd

chunk_list = []
# Read the file in chunks of 10,000 rows at a time
for chunk in pd.read_csv('/home/matlab/Lottery_Powerball_Winning_Numbers__Beginning_2010.csv', chunksize=10000):
    # Process each chunk here
    # For example, you can filter, aggregate, or append to a list
    chunk_list.append(chunk)
    
# If needed, you can concatenate all chunks into a single DataFrame
large_df = pd.concat(chunk_list)
print(chunk_list)
print9
large_df

[       Draw Date    Winning Numbers  Multiplier
0     09/26/2020  11 21 27 36 62 24         3.0
1     09/30/2020  14 18 36 49 67 18         2.0
2     10/03/2020  18 31 36 43 47 20         2.0
3     10/07/2020  06 24 30 53 56 19         2.0
4     10/10/2020  05 18 23 40 50 18         3.0
...          ...                ...         ...
1828  08/27/2025  09 12 22 41 61 25         4.0
1829  08/30/2025  03 18 22 27 33 17         3.0
1830  09/01/2025  08 23 25 40 53 05         3.0
1831  09/03/2025  03 16 29 61 69 22         2.0
1832  09/06/2025  11 23 44 61 62 17         2.0

[1833 rows x 3 columns]]

       Draw Date    Winning Numbers  Multiplier
0     09/26/2020  11 21 27 36 62 24         3.0
1     09/30/2020  14 18 36 49 67 18         2.0
2     10/03/2020  18 31 36 43 47 20         2.0
3     10/07/2020  06 24 30 53 56 19         2.0
4     10/10/2020  05 18 23 40 50 18         3.0
...          ...                ...         ...
1828  08/27/2025  09 12 22 41 61 25         4.0
1829  08/30/2025  03 18 22 27 33 17         3.0
1830  09/01/2025  08 23 25 40 53 05         3.0
1831  09/03/2025  03 16 29 61 69 22         2.0
1832  09/06/2025  11 23 44 61 62 17         2.0

[1833 rows x 3 columns]