In [1]:
# N.Sushank S N
# 22MID0348
# Advance Python Programming

In [4]:
import pandas as pd
data = {
    'Name': ['Sushank', 'Bob', 'Charlie'],
    'Age': [23, 25, 22],
    'Score': [85, 90, 78]
}

df = pd.DataFrame(data)

print(df)

       Name  Age  Score
0   Sushank   23     85
1  Dharshii   25     90
2   Charlie   22     78

In [3]:
import pandas as pd
data = [1, 2.3, 'a',5]
series_from_list = pd.Series(data)
print(series_from_list)

0      1
1    2.3
2      a
3      5
dtype: object

In [6]:
data = {
    'Name': ['Sushank', 'Bob', 'Charlie', 'David'],
    'Age': [23, 25, 22, 24],
    'Score': [85, 90, 78, 92]
}

df = pd.DataFrame(data)
print(df)

      Name  Age  Score
0  Sushank   23     85
1      Bob   25     90
2  Charlie   22     78
3    David   24     92

In [ ]:
# Alignment
s1 = pd.Series([1, 2, 3], index=["a", "b", "c"])
s2 = pd.Series([4, 5, 6], index=["b", "c", "d"])
print(s1 * s2)

a     NaN
b     8.0
c    15.0
d     NaN
dtype: float64

In [ ]:
series_a = pd.Series([1, 2, 3])
series_b = pd.Series([4, 5, 6])
sum_series = series_a + series_b
print(sum_series)

0    5
1    7
2    9
dtype: int64

In [ ]:
# Creating a MultiIndex Series
arrays = [
    ['A', 'A', 'B', 'B'],
    ['Math', 'Science', 'Math', 'Science']
]
index = pd.MultiIndex.from_arrays(arrays, names=('Alphabet', 'Subject'))

multi_s = pd.Series([90, 85, 88, 92], index=index)
print(multi_s)

Alphabet  Subject
A         Math       90
          Science    85
B         Math       88
          Science    92
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
print("--- 1. Series from Mixed List (dtype: object) ---")
data_series_mixed = [1, 2.3, 'a', 4, 5]
series_from_list = pd.Series(data_series_mixed)
print(series_from_list)
print("-" * 30)

--- 1. Series from Mixed List (dtype: object) ---
0      1
1    2.3
2      a
3      4
4      5
dtype: object
------------------------------

In [5]:
print("--- 2. DataFrame Creation ---")
data_df = {
    'Name': ['Sushank', 'Bob', 'Charlie', 'David'],
    'Age': [23, 25, 22, 24],
    'Score': [85, 90, 78, 92]
}
df = pd.DataFrame(data_df)
print(df)
print("-" * 30)

--- 2. DataFrame Creation ---
      Name  Age  Score
0  Sushank   23     85
1      Bob   25     90
2  Charlie   22     78
3    David   24     92
------------------------------

In [7]:
print("--- 3. Index Alignment & Sorting (s1 * s2) ---")
s1 = pd.Series([1, 2, 3], index=["a", "b", "c"])
s2 = pd.Series([4, 5, 6], index=["b", "c", "d"])

print(s1 * s2)
print("-" * 30)

--- 3. Index Alignment & Sorting (s1 * s2) ---
a     NaN
b     8.0
c    15.0
d     NaN
dtype: float64
------------------------------

In [8]:
print("--- 4. Positional Addition (series_a + series_b) ---")
series_a = pd.Series([1, 2, 3])
series_b = pd.Series([4, 5, 6])
sum_series = series_a + series_b
print(sum_series)
print("-" * 30)

--- 4. Positional Addition (series_a + series_b) ---
0    5
1    7
2    9
dtype: int64
------------------------------

In [9]:
print("--- 5. MultiIndex from Arrays ---")
arrays_multi = [
    ['A', 'A', 'B', 'B'],
    ['Math', 'Science', 'Math', 'Science']
]
index_from_arrays = pd.MultiIndex.from_arrays(arrays_multi, names=('Alphabet', 'Subject'))
multi_s_arrays = pd.Series([90, 85, 88, 92], index=index_from_arrays)
print(multi_s_arrays)
print("-" * 30)

--- 5. MultiIndex from Arrays ---
Alphabet  Subject
A         Math       90
          Science    85
B         Math       88
          Science    92
dtype: int64
------------------------------

In [10]:
print("--- 6. MultiIndex from Tuples ---")
tuples_multi = [('A', 'Math'), ('A', 'Science'), ('B', 'Math'), ('B', 'Science')]
index_from_tuples = pd.MultiIndex.from_tuples(tuples_multi, names=('Alphabet', 'Subject'))
multi_s_tuples = pd.Series([90, 85, 88, 92], index=index_from_tuples)
print(multi_s_tuples)
print("-" * 30)

--- 6. MultiIndex from Tuples ---
Alphabet  Subject
A         Math       90
          Science    85
B         Math       88
          Science    92
dtype: int64
------------------------------

In [11]:
print("--- 7. MultiIndex from Product ---")
index_from_product = pd.MultiIndex.from_product(
    [['A', 'B'], ['Math', 'Science']],
    names=('Alphabet', 'Subject')
)
multi_s_product = pd.Series([90, 85, 88, 92], index=index_from_product)
print(multi_s_product)
print("-" * 30)

--- 7. MultiIndex from Product ---
Alphabet  Subject
A         Math       90
          Science    85
B         Math       88
          Science    92
dtype: int64
------------------------------

In [12]:
import pandas as pd
import numpy as np


pd.set_option('display.max_rows', None)

#1: MultiIndex from DataFrame (pd.MultiIndex.from_frame) ---
print("--- 1. MultiIndex from DataFrame (from_frame) ---")

df_index = pd.DataFrame({
    'Alphabet': ['A', 'A', 'B', 'B'],
    'Subject': ['Math', 'Science', 'Math', 'Science']
})

index_from_frame = pd.MultiIndex.from_frame(df_index, names=('Alphabet', 'Subject'))

multi_s_frame = pd.Series([90, 85, 88, 92], index=index_from_frame)
print(multi_s_frame)
print("-" * 50)



# 2. MultiIndex from Tuples (from previous examples)
print("--- 2. MultiIndex from Tuples (from_tuples) ---")
tuples = [('A', 'Math'), ('A', 'Science'), ('B', 'Math'), ('B', 'Science')]
index_from_tuples = pd.MultiIndex.from_tuples(tuples, names=('Alphabet', 'Subject'))
multi_s_tuples = pd.Series([70, 75, 80, 82], index=index_from_tuples)
print("Alphabet  Subject")
print(multi_s_tuples)
print("-" * 50)

# 3. MultiIndex from Product
print("--- 3. MultiIndex from Product (from_product) ---")
# Generates all combinations: (A, Math), (A, Science), (B, Math), (B, Science)
index_from_product = pd.MultiIndex.from_product(
    [['A', 'B'], ['Math', 'Science']],
    names=('Alphabet', 'Subject')
)
multi_s_product = pd.Series([96, 95, 64, 86], index=index_from_product)
print("Alphabet  Subject")
print(multi_s_product)
print("-" * 50)



index_auto = pd.MultiIndex.from_product([['A', 'B'], ['X', 'Y']])
multi_s_auto = pd.Series(np.random.randn(4), index=index_auto)
print("--- 4. MultiIndex Series constructed automatically (Random Data) ---")
print(multi_s_auto)
print("-" * 50)

# 5. Accessing and Slicing MultiIndex Data
print("--- 5. Access all subjects for 'A' (Indexing) ---")
print(multi_s_frame.loc['A'])
print("-" * 50)

print("--- 6. Access specific element (B, Science) ---")
print(multi_s_frame.loc[('B', 'Science')])
print("-" * 50)

print("--- 7. Slicing from A to B (Inclusive slicing on outer level) ---")
print(multi_s_frame.loc['A':'B'])
print("-" * 50)


print("--- 8. Partial slice for all Math (Cross-Section) ---")
print(multi_s_frame.xs('Math', level='Subject'))
print("-" * 50)

# 9. Swapping and Reordering Levels
print("--- 9. Swapping levels (Alphabet -> Subject) ---")
swapped_s = multi_s_frame.swaplevel('Alphabet', 'Subject')
print(swapped_s)
print("-" * 50)

print("--- 10. Reordering levels (using from_product data) ---")
reordered_s = multi_s_product.reorder_levels(['Subject', 'Alphabet'])
print(reordered_s)
print("-" * 50)


# 11. Sorting a MultiIndex
print("--- 11. Unsorted MultiIndex Series (Demonstration) ---")
unsorted_index = pd.MultiIndex.from_tuples([('B', 'Y'), ('A', 'X'), ('B', 'X'), ('A', 'Y')])
unsorted = pd.Series(np.random.randn(4), index=unsorted_index)
print(unsorted)
print("-" * 50)

print("--- 12. Sorted by index (using sort_index()) ---")
print(unsorted.sort_index())
print("-" * 50)


# 13. DEMONSTRATION OF remove_unused_levels (Fix for the AttributeError)
print("--- 13. FIX & Demo: remove_unused_levels ---")
# Create a DataFrame with a MultiIndex for its COLUMNS
column_index = pd.MultiIndex.from_product([['Group1', 'Group2'], ['MetricA', 'MetricB', 'MetricC']], names=['Outer', 'Inner'])
df_with_multi_cols = pd.DataFrame(np.random.rand(4, 6), columns=column_index)

# Select only Group1
sub_df_group1 = df_with_multi_cols['Group1']
multi_cols = df_with_multi_cols.columns
print("Full MultiIndex Levels Before Reduction:")
print(multi_cols.levels)


cleaned_multi_cols = multi_cols.remove_unused_levels()
print("\nCleaned MultiIndex Levels After Reduction:")
print(cleaned_multi_cols.levels)
print("-" * 50)

--- 1. MultiIndex from DataFrame (from_frame) ---
Alphabet  Subject
A         Math       90
          Science    85
B         Math       88
          Science    92
dtype: int64
--------------------------------------------------
--- 2. MultiIndex from Tuples (from_tuples) ---
Alphabet  Subject
Alphabet  Subject
A         Math       70
          Science    75
B         Math       80
          Science    82
dtype: int64
--------------------------------------------------
--- 3. MultiIndex from Product (from_product) ---
Alphabet  Subject
Alphabet  Subject
A         Math       96
          Science    95
B         Math       64
          Science    86
dtype: int64
--------------------------------------------------
--- 4. MultiIndex Series constructed automatically (Random Data) ---
A  X   -0.642713
   Y    0.173493
B  X    0.386628
   Y    0.753978
dtype: float64
--------------------------------------------------
--- 5. Access all subjects for 'A' (Indexing) ---
Subject
Math       90
Science    85
dtype: int64
--------------------------------------------------
--- 6. Access specific element (B, Science) ---
92
--------------------------------------------------
--- 7. Slicing from A to B (Inclusive slicing on outer level) ---
Alphabet  Subject
A         Math       90
          Science    85
B         Math       88
          Science    92
dtype: int64
--------------------------------------------------
--- 8. Partial slice for all Math (Cross-Section) ---
Alphabet
A    90
B    88
dtype: int64
--------------------------------------------------
--- 9. Swapping levels (Alphabet -> Subject) ---
Subject  Alphabet
Math     A           90
Science  A           85
Math     B           88
Science  B           92
dtype: int64
--------------------------------------------------
--- 10. Reordering levels (using from_product data) ---
Subject  Alphabet
Math     A           96
Science  A           95
Math     B           64
Science  B           86
dtype: int64
--------------------------------------------------
--- 11. Unsorted MultiIndex Series (Demonstration) ---
B  Y   -0.081225
A  X   -0.231707
B  X   -1.230725
A  Y   -0.782416
dtype: float64
--------------------------------------------------
--- 12. Sorted by index (using sort_index()) ---
A  X   -0.231707
   Y   -0.782416
B  X   -1.230725
   Y   -0.081225
dtype: float64
--------------------------------------------------
--- 13. FIX & Demo: remove_unused_levels ---
Full MultiIndex Levels Before Reduction:
[['Group1', 'Group2'], ['MetricA', 'MetricB', 'MetricC']]

Cleaned MultiIndex Levels After Reduction:
[['Group1', 'Group2'], ['MetricA', 'MetricB', 'MetricC']]
--------------------------------------------------